[Unit]
Description=Windows symbol server setup
After=network-online.target

[Service]
Type=oneshot
User=http
Group=http
WorkingDirectory=/srv/cache/ntsymbols
ExecStart=/usr/bin/make poetry-install
PrivateTmp=true

# Hardening options
ProtectSystem=strict
ReadWritePaths=/srv/cache/ntsymbols
ReadWritePaths=/tmp
ReadOnlyPaths=/
NoNewPrivileges=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateUsers=true
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
SystemCallArchitectures=native
SystemCallFilter=@system-service
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=symsrv.service
